body {
    font-family: Tahoma;
    direction: rtl;
    background: #f0f0f0;
    margin: 0;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.box {
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    background: black;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
}
